<h2>Bienvenue !</h2>

<p>
  Welcome to my space, dedicated to few of my interest.<br />
  To begin with i would start with the programming linguage Perl
  and particularly Catalyst due to my current day time job.<br />
  Quite enthousiast to combine work and personal interest, this is the place for me to practice and play with the MVC framework for Perl Catalyst, and some few other additive techno like sass&compass, with the sqlite3 database for now.
</p>
