<p>
  Some quotes or expressions are quite interresting, coming from great men or great movies.<br />
  Be my guest in making this list grow by adding some.
</p>

soon.

<br />
<td>------------------[% message %]------------</td>
